#nav_bar {
	padding-right: 6rem;
	padding-left: 5.5rem;
	font-family: 'Fredoka One', cursive;
	letter-spacing: 0.25rem;
	cursor: pointer;
}

#main-link {
	color: white;
}

#main {
	width: 100%;
	background-color: #42dcf4;
	padding: 3rem 5rem 5rem 5rem;
	color: white;
	text-align: center;
}

.navbar-brand {
	margin-right: 2rem;
	font-size: 2.5rem;
}

.connect {
	width: 40px;
	height: 40px;
	margin-right: 5px;
	border: 1.5px solid white;
	border-radius: 50px;
	padding: 8px;
	
}

#profile_pic {
	width: 25rem;
	border-radius: 25px;
	margin-bottom: 3rem;
}

#main h1 {
	font-family: 'Fredoka One', cursive;
	font-size: 4.5rem;
}

#main h3 {
	font-family: 'Ubuntu', sans-serif;
}

#main h4 {
	font-family: 'Fredoka One', cursive;
	margin-bottom: 1rem;
}

#about {
	width: 100%;
	padding: 1.5rem 5rem 5rem 5rem;
	text-align: center;
}

#about h2 {
	font-family: 'Fredoka One', cursive;
	margin-bottom: 2.5rem;
}

#about-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
}

.about-content {
	width: 30%;
	font-family: 'Ubuntu', sans-serif;
	text-align: left;
}

#about-text {
	margin-right: 2.5rem;
}
#broadcast {
	width: 100%;
	border-radius: 25px;
	margin-left: 2.5rem;
}

.highlight {
	color: #42dcf4;
}

#skill-box {
	width: 100%;
	height: 100px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-bottom: 2rem;
}

.skills {
	display: inline-block;
	height: 100px;
	width: 100px;
	padding: 3px;
}

#projects {
	width: 100%;
	height: 750px;
	background-color: #3cfca1;
	color: white;
	padding: 1.5rem 5rem 5rem 5rem;
	text-align: center;
	
}

#projects h2 {
	font-family: 'Fredoka One', cursive;
	margin-bottom: 2.5rem;
}

#contact {
	width: 100%;
	background-color: #353a40;
	color: white;
	padding: 1.5rem 5rem;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	
}

#contact h2 {
	font-family: 'Fredoka One', cursive;
	margin-bottom: 2.5rem;
}

#contact h6 {
	margin-top: 2.5rem;
}

.footer-connect {
	width: 40px;
	height: 40px;
	margin: 5px;
	border: 1.5px solid white;
	border-radius: 50px;
	padding: 8px;
	
}

.ui-tooltip {
	box-shadow: none !important;
	width: 5.5rem !important;
	text-align: center;
}

.ui-tooltip-content {
	font-size: 0.7rem !important;
}

#message {
	width: 45%;
	margin: 2rem auto;
}

#sender-info {
	display: flex;
	justify-content: space-between;
	
}

.sender {
	width: 48%;
}

@media only screen and (max-width: 1200px) {
	
	#about-wrapper {
	display: block;
	text-align:center;
	}

	.about-content {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	}

	#about-text {
	margin-right: auto;
	}
	
	#broadcast {
	width: 60%;
	margin-left: auto;
	}
	
}
